<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Logistics Manager</title>
  </head>
  <body>
    <h2>Welcome to Logistics Manager</h2>
    <p>Hi <%= user.username %>,</p>
    <p>
      Welcome to our platform! Logistics Manager is here to help you efficiently
      manage your business logistics, transactions, and clients. We offer a
      range of services to streamline your operations and enhance your logistics
      management experience.
    </p>
    <p>With Logistics Manager, you can:</p>
    <ul>
      <li>Track and manage your business transactions.</li>
      <li>Access detailed reports to gain insights into your operations.</li>
      <li>Manage your expenses and financial records with ease.</li>
      <li>
        Stay connected with your clients and provide them with excellent
        service.
      </li>
    </ul>
    <p>
      We're here to support you every step of the way. If you have any questions
      or need assistance, please feel free to reach out to our dedicated support
      team at
      <a href="mailto:no_reply@adeajayiabolaji.com"
        >no_reply@adeajayiabolaji.com</a
      >.
    </p>
    <p>Thank you for choosing Logistics Manager!</p>

    <!-- Footer -->
    <table style="background-color: #343a40; width: 100%; text-align: center">
      <tr>
        <td style="padding: 10px">
          <p style="color: #fff">
            © 2023 Logistics Manager. All rights reserved.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
