<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Logistics Manager</title>
    <style>
      body {
        font-family: system-ui, -apple-system;
      }
      header {
        background-color: #343a40;
        color: #fff;
        text-align: center;
        padding: 20px;
      }
      main {
        padding: 20px;
        max-width: 600px;
        margin: auto;
      }
      footer {
        background-color: #343a40;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin-bottom: 10px;
      }
      li img {
        margin-right: 10px;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Welcome to Logistics Manager</h1>
    </header>

    <main>
      <p>Hi <%= user.username %>,</p>

      <p>
        Welcome to the Logistics Manager family! We're thrilled to have you on
        board as we embark on a journey to revolutionize your logistics
        management. Get ready for a seamless experience as you navigate through
        our powerful features designed to simplify and elevate your logistics
        operations.
      </p>

      <p>With Logistics Manager, you can:</p>

      <ul>
        <li>Create single or multiple jobs effortlessly</li>
        <li>Upload job details using Excel for ultimate convenience</li>
        <li>Manage your expenses with ease</li>
        <li>
          Gain valuable insights with detailed reports on job activity, returns,
          and expenses
        </li>
        <li>
          Track the number of jobs and predict top clients for repeat jobs
        </li>
        <li>Create backdated jobs with full control</li>
        <li>Stay on top of your business with monthly activity charts</li>
      </ul>

      <p>
        Your logistics journey is about to become smoother, more intuitive, and
        empowering. If you ever have questions or need assistance, our dedicated
        support team is just an email away at
        <a href="mailto:no_reply@adeajayiabolaji.com"
          >no_reply@adeajayiabolaji.com</a
        >. Thank you for choosing Logistics Manager – where we simplify
        logistics to elevate your business!
      </p>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2023 Logistics Manager. All rights reserved.</p>
    </footer>
  </body>
</html>
